# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/diamond.zip
python-decouple
python-dotenv
flask
flask_restful
GitPython
requests
bs4
telegraph
htmlwebshot
yt_dlp
akinator
